<br />


<div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-70" style="max-width:800px">
        <br>
        <h2 class="w3-wide w3-center">FundeVida</h2>
        <h1 style="border:2px solid black;">Donaciones</h1>
        <br />
        <p class="w3-opacity w3-justified">
            Recibimos artículos en buen estado como:
            <br />
            <ul>
                <li>Complementos alimenticios<br></li>
                <li>Mercados y alimentos<br></li>
                <li>Útiles de aseo personal<br></li>
                <li>Mobiliarios y utensilios  para la dotación de la casa-hogar y oficinas<br></li>
                <li>Juegues y materiales para  la recreación y dotación de la Ludoteca<br></li>
                <li>Ropa de diferentes climas para niños y adultos<br></li>
                <li>Sillas de ruedas y muletas <br></li>

                <br />
            </ul>
            <address>
                Para conocer más sobre cómo hacer tu donación, comunícate a los teléfonos:
                (57 5) 6784521 – 314252321, o al correo electrónico info@fundevidacartagena.org
            </address>



            <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
                <div class="w3-container w3-white">


        </p>
